* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    color: #292c3a;
    font-size: 16px;
}

h1 {
    color: #292c3a;
    font-size: 36px;
    font-style: italic;
    margin: 40px 75px;
}
/* nav bar */
nav h3 {
    color: #292c3a;
    text-align: center;
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 20px 0 20px 75px;
}


.nav-list a:hover {
    background-color:#c4a93e;
}

.nav-list a {
    text-decoration: none;
    color: #292c3a;
    background-color: #b56038;
    padding: 20px;
    margin-right: 20px;
    border-radius: 5px;
    width: auto;
}

/* section style */
.section-title {
    color: #292c3a;
    font-size: 36px;
    margin: 40px 100px 0 75px;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}


/* about */
section p {
    margin: 40px 0 0 75px; 
    max-width: 65%;
    font-size: 20px;
    line-height: 1.5;
}

/* grid */
.grid-container {
    display: flex;
    flex-flow: row wrap;
    margin: 40px 0 0 75px;
    max-width: 75%;
}

.grid-item {
    background-color:#c4a93e;
    height: 150px;
    width: 200px;
    border-radius: 5px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 0 10px 10px 0;
}

.project-title {
    color: #f4f1de;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    margin: 10px;
    display: none;
    z-index: 1;
}

.grid-item:hover .project-title {
    display: block;
    transition: display 1s;
}

.grid-item:hover {
    background-color: #292c3a;
    transition: background-color 1s;
}

.banner-image {
    max-width: auto;
    height: 200px;
}

/* animation code from CSS Tricks */
.animate {
    width: 100%;
    height: auto;
    background-color: #8abbd6;
    animation: colour-change 2s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    position: sticky;
    top: 0;
}

@keyframes colour-change {
    50% {
        background-color: #292c3a;
    }
    to {
        background-color: #8abbd6;
    }
}

#contact ul {
    list-style-type: none;
    margin: 40px 0 40px 75px;
}
