/* page styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* --main: #c4a93e;
    --text:var(--text);
    --accent: #b56038; */
    --main: #e09f3e;
    --text: #2a324b;
    --accent: #c84630;
    --accent2: #304c89;
    --accent2Light: #3a5ca6;
    --accent2Lightest: #75a1ff;
    --accent3: #1e555c;

}

body {
    background-color: var(--main);
    font-family: Helvetica, Arial, sans-serif;
    color:var(--text);
    font-size: 16px;
}

main {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.1);
}


/*banner*/
.banner-image {
    max-width: 1024px;
    margin: 0 auto;
    height: auto;
    z-index: 999;
    display: block;
}

/* animation code from CSS Tricks */
.animate {
    max-width: 1024px;
    margin: 0 auto;
    height: max-content;
    background-color: var(--accent2Lightest);
    animation: colour-change 2s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    position: sticky;
    top: 0;
    z-index: 998;
}

@keyframes colour-change {
    50% {
        background-color:var(--text);
    }
    to {
        background-color: #8abbd6;
    }
}

h1 {
    font-family: 'Averia Serif Libre', cursive;
    color:var(--text);
    font-size: 48px;
    font-weight: 700;
    margin: 40px 75px;
}

/* nav bar */
nav h3 {
    font-family: 'Averia Serif Libre', cursive;
    color: var(--text);
    text-align: center;
    padding: 10px;
    width: auto;
}

.nav-list {
    list-style-type: none;
    margin: 20px 0 20px 40px;
}

nav h3:hover {
    font-style: italic;
}

.nav-list-item {
    margin-right: 20px;
}

.nav-list-item:hover > .nav-underline {
    background: var(--main);
}

.nav-underline {
    height: 3px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

/* .nav-underline:hover {
    background: var(--main);
} */

.unfeatured {
    max-width: 65%;
}

a {
    text-decoration: none;
}

/* section style */
.section-title {
    font-family: 'Averia Serif Libre', cursive;
    color: var(--text);
    font-size: 36px;
    margin: 40px 0 20px 75px;
    min-width: 12%;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-baseline-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
}

/* about */
#about p {
    margin: 40px 0 0 75px; 
    max-width: 65%;
    font-size: 20px;
    line-height: 1.5;
}

#about img {
    height: 200px;
    width: auto;
    float: left;
    margin-right: 20px;
    border-radius: 5px;
}

/* work section styles */
.grid-container {
    display: grid;
    margin: 40px 0 0 75px;
    min-width: 70%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-flow: dense;
    grid-gap: 1em;
}

.grid-item {
    background-color: var(--main);
    min-height: 150px;
    min-width: 200px;
    border-radius: 5px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

/* .flex-item {
    background-color:#c4a93e;
    min-height: 150px;
    min-width: 200px;
    border-radius: 5px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 0 10px 10px 0;
    overflow: hidden;
    position: relative;
} */

.featured {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    place-self: stretch;
}

.item-1 {
    justify-self: stretch;
    background-image: url("../images/tweet-tracks-screenshot.png");
    background-position: left;
    background-size: cover;
}

.item-2 {
    background-image: url("../images/weather-dashboard-screenshot.png");
    background-position: left;
    background-size: cover;
}

.item-3 {
    background-image: url("../images/work-day-screenshot.png");
    background-position: center;
    background-size: cover;
}

.item-4 {
    background-image: url("../images/code-quiz-screenshot.png");
    background-position: left;
    background-size: cover;
}

.item-5 {
    background-image: url("../images/taskmaster-pro-img.png");
    background-position: left;
    background-size: cover;
}

.item-6 {
    background-image: url("../images/taskinator-img.png");
    background-position: left;
    background-size: cover;
}

.item-7 {
    background-image: url("../images/robot-gladiators-img.png");
    background-position: center;
    background-size: cover;
}

.item-8 {
    background-image: url("../images/run-buddy-img.png");
    background-position: center;
    background-size: cover;
}

.project-title {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    margin: 10px;
    opacity: 0;
}

.grid-item:hover .project-title {
    opacity: 1;
    transition: display 1s;
    z-index: 3;
}

.screen {
    opacity: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(41, 44, 58, 0.8);
    position: absolute;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.grid-item:hover .screen {
    opacity: 1;
    transition: opacity 1s;
}

/* contact section */
#contact ul {
    list-style-type: none;
    font-size: 20px;
    margin: 40px 0 0 75px;
}

#contact a {
    color: var(--main);
    text-decoration: none;
    margin: 0 40px 20px 0;
}

#contact a:hover {
    color: var(--accent);
}

/* media queries */
/* smaller desktop screens and tablets */
@media screen and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        max-width: 60%;
    }
}

@media screen and (max-width: 980px) {
    .section-title {
        width: 100%;
    }
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
    .grid-item {
        min-height: 120px;
        min-width: 160px;
    }
    h1, .section-title, .nav-list, #about p, .grid-container, #contact ul {
        margin: 15px 0 15px 40px;
    }
}

.projects {
    margin: 40px 0 0 75px;
    max-width: 75%;
}

/* tablets and large phones */
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .animate {
        position: relative;
    }
}

/* phones */
@media screen and (max-width: 575px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
